<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, Welcome {{user.first_name}} {{user.last_name}}</h1>
    <a href="/clear_session">Logout</a>
    <hr>
    <strong>What's on your mind? Create a new post:</strong>
    <form action="/create_post", method = 'post'>
        <label for="content">Content</label>
        <input type="text" name="content">
        <button>Submit</button>
    </form>
    <hr>
    {% for user in all_posts %}
        {% for posts in user.posts %}
        <form action="/save_comment/{{post.id}}">
            <label for="comment">Post A Comment</label>
            <input type="text" name="comment">
            <button type="submit" class="btn btn-primary">Comment</button>
        </form>
        <p>{{user.first_name}} {{user.last_name}}</p>
        <p>{{posts.content}}</p>
        {% endfor %}
    {% endfor %}
</body>
</html>